In [9]:
import pandas as pd
import openpyxl
import xlrd
import matplotlib.pyplot as plt
import numpy as np
import networkx
pd.options.display.max_rows = 400

In [2]:
X = pd.ExcelFile("C:/Users/Annie Armstrong/Documents/Github/mindmap/grp_edgelists/grp-edgelist.xlsx")
mindmap_df = X.parse("Individual lists")
grpmindmap_df = X.parse("Group list")

In [14]:
septmw_df = mindmap_df.query('Group == "MW" & Month == "September"')
septmw_df.head(5)

,Edge,Target,Month,Group,StudentID,StudentStatus,QualitativeCode,QualitativeCode2,Valence,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Bronx River,Rat,September,MW,1MW,Returner,Animals,NaN,Negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rat,Cat,September,MW,1MW,Returner,Animals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bronx River,LaGuardia,September,MW,2MW,New,Places you can go,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bronx River,6 Train,September,MW,2MW,New,Transportation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6 Train,Pelham Bay Park,September,MW,2MW,New,Places you can go,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
G = networkx.from_pandas_edgelist(mindmap_df, 'Edge', 'Target')
networkx.write_graphml(G, 'individual.graphml')
print('individual maps', G.number_of_nodes(), G.number_of_edges())

individual maps 228 278